@page "/dashboardApex"
@rendermode InteractiveAuto
@inject IJSRuntime JSRuntime
@using BlazorAuthentication.Client.Model
@inject DialogService DialogService

<div class="row mt-4">
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="card flex-fill" style="padding: 20px;">
            <div class="d-flex justify-content-between">
                <h5>Performance</h5>
                <i class="bi bi-clipboard-data" style="font-size: 24px; cursor: pointer; display: inline-block;" @onclick="OnConformidades"></i>
            </div>
            <div class="mt-3">
                <div class="row">
                    <div class="col-md-6">
                        <div>Pallets/Hora</div>
                        <div style="font-size: 24px; font-weight: bold;">17 <span style="font-size: 14px; color: green;  ">▲188%</span></div>
                        <div>meta: 9</div>
                    </div>
                    <div class="col-md-6">
                        <div>Média Geral</div>
                        <div style="font-size: 24px; font-weight: bold;">2</div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <div>Melhor Período (dia)</div>
                        <div style="font-size: 24px; font-weight: bold;">16</div>
                    </div>
                    <div class="col-md-6">
                        <div>Período Anterior (dia)</div>
                        <div style="font-size: 24px; font-weight: bold;">4</div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <div>Pior Período (dia)</div>
                        <div style="font-size: 24px; font-weight: bold;">14</div>
                    </div>
                    <div class="col-md-6">
                        <div>Total de Pallets</div>
                        <div style="font-size: 24px; font-weight: bold;">429</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="card flex-fill" style="padding: 20px;">
            <div class="d-flex justify-content-between align-items-center">
                <h5>Recebimentos</h5>
                <i class="bi bi-clipboard-data" style="font-size: 24px; cursor: pointer; display: inline-block;" @onclick="OnConformidades"></i>
            </div>
            <div class="mt-3">
                <div class="row">
                    <div class="col-md-6">
                        <div>Recebimentos</div>
                        <div style="font-size: 24px; font-weight: bold;">16 <span style="font-size: 14px; color: green; ">▲1600%</span></div>
                        <div>meta: 1</div>
                    </div>
                    <div class="col-md-6">
                        <div>Média Geral (por dia)</div>
                        <div style="font-size: 24px; font-weight: bold;">7</div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <div>Melhor Período (dia)</div>
                        <div style="font-size: 24px; font-weight: bold;">11</div>
                    </div>
                    <div class="col-md-6">
                        <div>Período Anterior (dia)</div>
                        <div style="font-size: 24px; font-weight: bold;">12</div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <div>Pior Período (dia)</div>
                        <div style="font-size: 24px; font-weight: bold;">13</div>
                    </div>
                    <div class="col-md-6">
                        <div>Melhor dia da semana</div>
                        <div style="font-size: 24px; font-weight: bold;">Quarta-feira</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="card flex-fill" style="padding: 20px;">
            <div class="d-flex justify-content-between align-items-center">
                <h5>Tempo de Trabalho</h5>
                <i class="bi bi-clipboard-data" style="font-size: 24px; cursor: pointer; display: inline-block;" @onclick="OnConformidades"></i>
            </div>
            <div class="mt-3">
                <div class="row">
                    <div class="col-md-6">
                        <div>Tempo de trabalho</div>
                        <div style="font-size: 24px; font-weight: bold;">6h <span style="font-size: 14px; color: red;">▼42%</span></div>
                        <div>Capacidade: 3h</div>
                        <div>Meta: 14h</div>
                    </div>
                    <div class="col-md-6">
                        <div>Média por recebimentos</div>
                        <div style="font-size: 24px; font-weight: bold;">2h</div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <div>Lead Time</div>
                        <div>(tempo total de conf por carga)</div>
                        <div style="font-size: 24px; font-weight: bold;">Hoje</div>
                        <div style="font-size: 24px; font-weight: bold;">6h <span style="font-size: 14px; color: green;">▲1,000%</span></div>
                    </div>
                    <div class="col-md-6">
                        <div>Média Geral (por dia)</div>
                        <div style="font-size: 24px; font-weight: bold;">12h</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="card flex-fill" style="padding: 20px;">
            <div class="d-flex justify-content-between align-items-center">
                <h5>Painel de não conformidades</h5>
                <i class="bi bi-clipboard-data" style="font-size: 24px; cursor: pointer; display: inline-block;" @onclick="OnConformidades"></i>
            </div>
            <div class="mt-3">

                <ApexChart TItem="ChartData"
                           Title="">
                    <ApexPointSeries TItem="ChartData"
                                     Items="data"
                                     XValue="@(e => e.Category)"
                                     YValue="@(e => e.Value)"
                                     SeriesType="SeriesType.Donut" />
                </ApexChart>
         
                <div class="mt-3">
                    <div>Não Conformidades</div>
                    <div style="font-size: 24px; font-weight: bold;">21% <span>(151)</span> <span style="font-size: 14px; color: green;">▲1,200%</span></div>
                </div>
                <div class="mt-3">
                    <div><span style="color: blue;">&#9679;</span> 86 - Não conformidade do fornecedor.</div>
                    <div><span style="color: green;">&#9679;</span> 65 - Não conformidade de contagem (ver operadores)</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 d-flex flex-column">
        <div class="card flex-fill" style="padding: 20px;">
            <h5>Operadores em Atividade</h5>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">NOME</th>
                        <th scope="col">H.TRAB</th>
                        <th scope="col">H. EM CONF</th>
                        <th scope="col">PERF. PALLET</th>
                        <th scope="col">MEDIA</th>
                        <th scope="col">ACUR. DIA</th>
                        <th scope="col">ACURACIA</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var op in operators)
                            {
                        <tr>
                            <td>@op.Name</td>
                            <td>@op.WorkHours</td>
                            <td>@op.ConfHours</td>
                            <td>@op.PerfPallets</td>
                            <td>@op.AvgPallets</td>
                            <td>@op.DailyAccuracy</td>
                            <td>@op.Accuracy</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <br/>
        <div class="card flex-fill" style="padding: 20px;">
            <h5>Não conformidades</h5>
            <div class="row mt-3">
                <div class="col-md-4 border-end">
                    <strong>FORNECEDORES</strong>
                    <div>Fornecedor X - 43 NC</div>
                    <div>Fornecedor Y - 14 NC</div>
                    <div>Fornecedor Z - 32 NC</div>
                </div>
                <div class="col-md-4 border-end">
                    <strong>OPERADORES</strong>
                    <div>Operador 1 - 57 NC</div>
                    <div>Operador 2 - 35 NC</div>
                    <div>Operador 3 - 2 NC</div>
                </div>
                <div class="col-md-4">
                    <strong>PALLETS</strong>
                    <div>Pallets não conformidades</div>
                    <div style="font-size: 24px; font-weight: bold;">11/919</div>
                    <div>Pallets sem divergência</div>
                    <div style="font-size: 24px; font-weight: bold;">908/919 <span style="font-size: 14px; color: red;">▼25%</span></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-3 d-flex align-items-stretch mb-4">
        <div class="card flex-fill" style="padding: 20px;">
            <h5>Tipo de Unitização</h5>
            <div class="d-flex align-items-center mt-3">
                <div style="color: #A64AC9;">&#9679;</div>
                <div class="ms-2">Unitário</div>
                <div class="ms-auto" style="font-size: 24px; font-weight: bold;">6</div>
            </div>
            <div class="d-flex align-items-center mt-3">
                <div style="color: #66BB6A;">&#9679;</div>
                <div class="ms-2">Misto/Solto</div>
                <div class="ms-auto" style="font-size: 24px; font-weight: bold;">11</div>
            </div>
            <ApexChart TItem="ChartData" Title="" Options=options Height="200">
                <ApexPointSeries TItem="ChartData"
                                 Items="@unitizationData"
                                 XValue="@(e => e.Category)"
                                 YValue="@(e => e.Value)"
                                 SeriesType="SeriesType.Donut"
                                 />
            </ApexChart>
        </div>
    </div>
    <div class="col-md-3 d-flex align-items-stretch mb-4">
        <div class="card flex-fill" style="padding: 20px;">
            <h5>Tipo de Paletização</h5>
            <div class="d-flex align-items-center mt-3">
                <div style="color: #A64AC9;">&#9679;</div>
                <div class="ms-2">Batido</div>
                <div class="ms-auto" style="font-size: 24px; font-weight: bold;">7</div>
            </div>
            <div class="d-flex align-items-center mt-3">
                <div style="color: #FFB74D;">&#9679;</div>
                <div class="ms-2">Paletizada</div>
                <div class="ms-auto" style="font-size: 24px; font-weight: bold;">13</div>
            </div>
            <div class="d-flex align-items-center mt-3">
                <div style="color: #7E57C2;">&#9679;</div>
                <div class="ms-2">Batido/Paletizado</div>
                <div class="ms-auto" style="font-size: 24px; font-weight: bold;">14</div>
            </div>
            <ApexChart TItem="ChartData" Title="" Options=options2 Height="200">
                <ApexPointSeries TItem="ChartData"
                                 Items="@palletizationData"
                                 XValue="@(e => e.Category)"
                                 YValue="@(e => e.Value)"
                                 SeriesType="SeriesType.Donut" />
            </ApexChart>
        </div>
    </div>
    <div class="col-md-6  align-items-stretch mb-4">
        <div class="card flex-fill" style="padding: 20px;">
            <h5>Metas e Andamento</h5>
            <div class="row">
                <div class="col-md-4">
                    <div>Recebidos</div>
                    <div style="font-size: 24px; font-weight: bold;">5/19</div>
                </div>
                <div class="col-md-4">
                    <div>Tempo de Trabalho</div>
                    <div style="font-size: 24px; font-weight: bold;">15h/20h</div>
                </div>
                <div class="col-md-4">
                    <div>Pallets</div>
                    <div style="font-size: 24px; font-weight: bold;">15/5</div>
                </div>
            </div>
          
            <ApexChart TItem="MetasData"
                           Title="" Height="300">
                       
                <ApexPointSeries TItem="MetasData"
                                 Items="@metasData"
                                 Name="Meta"
                                 SeriesType="SeriesType.Bar"
                                 XValue="e => e.Category"
                                 YValue="e=> e.Meta" />

                <ApexPointSeries TItem="MetasData"
                                 Items="@metasData"
                                 Name="Andamento"
                                 SeriesType="SeriesType.Bar"
                                 XValue="e => e.Category"
                                 YValue="e=> e.Andamento" />
            </ApexChart>
           
        </div>
    </div>
</div>

@code {
    private ApexChartOptions<ChartData> options;
    private ApexChartOptions<ChartData> options2;
    private List<ChartData> data;
    private List<Operator> operators;
    private List<ChartData> unitizationData;
    private List<MetasData> metasData;
    private List<ChartData> palletizationData;
    private List<Conformidades> conformidades;

    protected override void OnInitialized()
    {
        options = new ApexChartOptions<ChartData>
            {
                Theme = new ApexCharts.Theme
                {
                    Mode = Mode.Light,
                    Palette = PaletteType.Palette6
                }
            };

        options2 = new ApexChartOptions<ChartData>
            {
                Theme = new ApexCharts.Theme
                {
                    Mode = Mode.Light,
                    Palette = PaletteType.Palette8
                }
            };

        data = new List<ChartData>
    {
        new ChartData { Category = "Não conformidade do fornecedor.", Value = 86 },
        new ChartData { Category = "Não conformidade de contagem", Value = 65 }
    };

    operators = new List<Operator>
    {
        new Operator { Name = "Operador 1", WorkHours = "10:43:44", ConfHours = "09:07:47", PerfPallets = "21 pallets/h", AvgPallets = "78 pallets/h", DailyAccuracy = "82%", Accuracy = "34%" },
        new Operator { Name = "Operador 2", WorkHours = "11:33:05", ConfHours = "06:34:16", PerfPallets = "43 pallets/h", AvgPallets = "6 pallets/h", DailyAccuracy = "77%", Accuracy = "25%" },
        new Operator { Name = "Operador 3", WorkHours = "06:05:12", ConfHours = "04:51:24", PerfPallets = "17 pallets/h", AvgPallets = "26 pallets/h", DailyAccuracy = "95%", Accuracy = "60%" }
    };

    unitizationData = new List<ChartData>
    {
        new ChartData { Category = "Unitário", Value = 6 },
        new ChartData { Category = "Misto/Solto", Value = 11 }
    };

    palletizationData = new List<ChartData>
    {
        new ChartData { Category = "Batido", Value = 7 },
        new ChartData { Category = "Paletizada", Value = 13 },
        new ChartData { Category = "Batido/Paletizado", Value = 14 }
    };

        metasData = new List<MetasData>
    {
        new MetasData { Category = "Recebidos", Meta = 19, Andamento = 25 },
        new MetasData { Category = "Tempo de Trabalho", Meta = 20, Andamento = 15 },
        new MetasData { Category = "Pallets", Meta = 10, Andamento = 15 }
    };

        conformidades = new List<Conformidades>
    {
         new Conformidades { Day = "10/03", Fornecedor = 19, Contagem = 14 },
         new Conformidades { Day = "11/03", Fornecedor = 12, Contagem = 18 },
         new Conformidades { Day = "12/03", Fornecedor = 9, Contagem = 23 },
         new Conformidades { Day = "13/03", Fornecedor = 15, Contagem = 15 },
         new Conformidades { Day = "14/03", Fornecedor = 10, Contagem = 5 },
         new Conformidades { Day = "15/03", Fornecedor = 4, Contagem = 29 },
    };

    }



    public class ChartData
    {
        public string Category { get; set; }
        public int Value { get; set; }
    }



    public class Operator
    {
        public string Name { get; set; }
        public string WorkHours { get; set; }
        public string ConfHours { get; set; }
        public string PerfPallets { get; set; }
        public string AvgPallets { get; set; }
        public string DailyAccuracy { get; set; }
        public string Accuracy { get; set; }
    }

    public class MetasData
    {
        public string Category { get; set; }
        public int Meta { get; set; }
        public int Andamento { get; set; }
    }




    public async Task OnConformidades()
    {
        var parameter = new Dictionary<string, object>() {
                { "conformidades", conformidades } };

        var dialogResult = await DialogService.OpenAsync<DashboardModalApex>("Painel de Não Conformidades", parameter,
                                                   new DialogOptions()
                                                       {
                                                           Width = ModalState.Medium,
                                                           CloseDialogOnEsc = ModalState.CloseDialogOnEsc,
                                                           Draggable = ModalState.Draggable,
                                                           Resizable = ModalState.Resizable,
                                                           Height = "55%",
                                                           ShowClose = ModalState.ShowClose
                                                       });

    }


}
