@page "/dashboardMudBlazor"
@rendermode InteractiveAuto
@inject IJSRuntime JSRuntime
@using BlazorAuthentication.Client.Model
@using MudBlazor
@using MudBlazor.Charts



<div class="row mt-4">
    <div class="col-md-4 d-flex align-items-stretch">
        <MudPaper Class="flex-fill" Style="padding: 20px;">
            <div class="d-flex justify-content-between">
                <h5>Performance</h5>
                <MudIconButton Icon="@Icons.Material.Filled.Assessment" Size="MudBlazor.Size.Medium" Style="font-size: 24px; cursor: pointer; display: inline-block;" />
            </div>
            <div class="mt-3">
                <div class="row">
                    <div class="col-md-6">
                        <div>Pallets/Hora</div>
                        <div style="font-size: 24px; font-weight: bold;">17 <span style="font-size: 14px; color: green;  ">▲188%</span></div>
                        <div>meta: 9</div>
                    </div>
                    <div class="col-md-6">
                        <div>Média Geral</div>
                        <div style="font-size: 24px; font-weight: bold;">2</div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <div>Melhor Período (dia)</div>
                        <div style="font-size: 24px; font-weight: bold;">16</div>
                    </div>
                    <div class="col-md-6">
                        <div>Período Anterior (dia)</div>
                        <div style="font-size: 24px; font-weight: bold;">4</div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <div>Pior Período (dia)</div>
                        <div style="font-size: 24px; font-weight: bold;">14</div>
                    </div>
                    <div class="col-md-6">
                        <div>Total de Pallets</div>
                        <div style="font-size: 24px; font-weight: bold;">429</div>
                    </div>
                </div>
            </div>
        </MudPaper>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
        <MudPaper Class="flex-fill" Style="padding: 20px;">
            <div class="d-flex justify-content-between align-items-center">
                <h5>Recebimentos</h5>
                <MudIconButton Icon="@Icons.Material.Filled.Assessment" Size="MudBlazor.Size.Medium" Style="font-size: 24px; cursor: pointer; display: inline-block;" />
            </div>
            <div class="mt-3">
                <div class="row">
                    <div class="col-md-6">
                        <div>Recebimentos</div>
                        <div style="font-size: 24px; font-weight: bold;">16 <span style="font-size: 14px; color: green; ">▲1600%</span></div>
                        <div>meta: 1</div>
                    </div>
                    <div class="col-md-6">
                        <div>Média Geral (por dia)</div>
                        <div style="font-size: 24px; font-weight: bold;">7</div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <div>Melhor Período (dia)</div>
                        <div style="font-size: 24px; font-weight: bold;">11</div>
                    </div>
                    <div class="col-md-6">
                        <div>Período Anterior (dia)</div>
                        <div style="font-size: 24px; font-weight: bold;">12</div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <div>Pior Período (dia)</div>
                        <div style="font-size: 24px; font-weight: bold;">13</div>
                    </div>
                    <div class="col-md-6">
                        <div>Melhor dia da semana</div>
                        <div style="font-size: 24px; font-weight: bold;">Quarta-feira</div>
                    </div>
                </div>
            </div>
        </MudPaper>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
         <MudPaper Class="flex-fill" Style="padding: 20px;">
            <div class="d-flex justify-content-between align-items-center">
                <h5>Tempo de Trabalho</h5>
                <MudIconButton Icon="@Icons.Material.Filled.Assessment" Size="MudBlazor.Size.Medium" Style="font-size: 24px; cursor: pointer; display: inline-block;" />
            </div>
            <div class="mt-3">
                <div class="row">
                    <div class="col-md-6">
                        <div>Tempo de trabalho</div>
                        <div style="font-size: 24px; font-weight: bold;">6h <span style="font-size: 14px; color: red;">▼42%</span></div>
                        <div>Capacidade: 3h</div>
                        <div>Meta: 14h</div>
                    </div>
                    <div class="col-md-6">
                        <div>Média por recebimentos</div>
                        <div style="font-size: 24px; font-weight: bold;">2h</div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <div>Lead Time</div>
                        <div>(tempo total de conf por carga)</div>
                        <div style="font-size: 24px; font-weight: bold;">Hoje</div>
                        <div style="font-size: 24px; font-weight: bold;">6h <span style="font-size: 14px; color: green;">▲1,000%</span></div>
                    </div>
                    <div class="col-md-6">
                        <div>Média Geral (por dia)</div>
                        <div style="font-size: 24px; font-weight: bold;">12h</div>
                    </div>
                </div>
            </div>
        </MudPaper>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-4 d-flex align-items-stretch">
        <MudPaper Class="flex-fill" Style="padding: 20px;">
            <div class="d-flex justify-content-between align-items-center">
                <h5>Painel de não conformidades</h5>
                <MudIconButton Icon="@Icons.Material.Filled.Assessment" Size="MudBlazor.Size.Medium" Style="font-size: 24px; cursor: pointer; display: inline-block;" />
            </div>
            <div class="mt-3">
                <MudChart ChartType="MudBlazor.ChartType.Donut" LegendPosition="Position.Right" Height="200px" InputData="@dataArray" InputLabels="@labelsArray" Options="options"></MudChart>
                <div class="mt-3">
                    <div>Não Conformidades</div>
                    <div style="font-size: 24px; font-weight: bold;">21% <span>(151)</span> <span style="font-size: 14px; color: green;">▲1,200%</span></div>
                </div>
                <div class="mt-3">
                    <div><span style="color: blue;">&#9679;</span> 86 - Não conformidade do fornecedor.</div>
                    <div><span style="color: green;">&#9679;</span> 65 - Não conformidade de contagem (ver operadores)</div>
                </div>
            </div>
        </MudPaper>
    </div>
    <div class="col-md-8 d-flex flex-column">
          <MudPaper Class="flex-fill" Style="padding: 20px;">
            <h5>Operadores em Atividade</h5>
            <MudTable Items="@operators" Style="width: 100%;">
                <HeaderContent>
                    <MudTh>NOME</MudTh>
                    <MudTh>H.TRAB</MudTh>
                    <MudTh>H. EM CONF</MudTh>
                    <MudTh>PERF. PALLET</MudTh>
                    <MudTh>MEDIA</MudTh>
                    <MudTh>ACUR. DIA</MudTh>
                    <MudTh>ACURACIA</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="NOME">@context.Name</MudTd>
                    <MudTd DataLabel="H.TRAB">@context.WorkHours</MudTd>
                    <MudTd DataLabel="H. EM CONF">@context.ConfHours</MudTd>
                    <MudTd DataLabel="PERF. PALLET">@context.PerfPallets</MudTd>
                    <MudTd DataLabel="MEDIA">@context.AvgPallets</MudTd>
                    <MudTd DataLabel="ACUR. DIA">@context.DailyAccuracy</MudTd>
                    <MudTd DataLabel="ACURACIA">@context.Accuracy</MudTd>
                </RowTemplate>
            </MudTable>
        </MudPaper>
        <br/>
       <MudPaper Class="flex-fill" Style="padding: 20px;">
            <h5>Não conformidades</h5>
            <div class="row mt-3">
                <div class="col-md-4 border-end">
                    <strong>FORNECEDORES</strong>
                    <div>Fornecedor X - 43 NC</div>
                    <div>Fornecedor Y - 14 NC</div>
                    <div>Fornecedor Z - 32 NC</div>
                </div>
                <div class="col-md-4 border-end">
                    <strong>OPERADORES</strong>
                    <div>Operador 1 - 57 NC</div>
                    <div>Operador 2 - 35 NC</div>
                    <div>Operador 3 - 2 NC</div>
                </div>
                <div class="col-md-4">
                    <strong>PALLETS</strong>
                    <div>Pallets não conformidades</div>
                    <div style="font-size: 24px; font-weight: bold;">11/919</div>
                    <div>Pallets sem divergência</div>
                    <div style="font-size: 24px; font-weight: bold;">908/919 <span style="font-size: 14px; color: red;">▼25%</span></div>
                </div>
            </div>
            </MudPaper>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-3 d-flex align-items-stretch mb-4">
          <MudPaper Class="flex-fill" Style="padding: 20px;">
            <h5>Tipo de Unitização</h5>
            <div class="d-flex align-items-center mt-3">
                <div style="color: #A64AC9;">&#9679;</div>
                <div class="ms-2">Unitário</div>
                <div class="ms-auto" style="font-size: 24px; font-weight: bold;">6</div>
            </div>
            <div class="d-flex align-items-center mt-3">
                <div style="color: #66BB6A;">&#9679;</div>
                <div class="ms-2">Misto/Solto</div>
                <div class="ms-auto" style="font-size: 24px; font-weight: bold;">11</div>
            </div>
            <MudChart ChartType="MudBlazor.ChartType.Donut" LegendPosition="Position.Right" Height="200px" InputData="@unitizationDataValue" InputLabels="@unitizationDataCategory" Options="options"></MudChart>
        </MudPaper>
    </div>
    <div class="col-md-3 d-flex align-items-stretch mb-4">
    <MudPaper Class="flex-fill" Style="padding: 20px;">
            <h5>Tipo de Paletização</h5>
            <div class="d-flex align-items-center mt-3">
                <div style="color: #A64AC9;">&#9679;</div>
                <div class="ms-2">Batido</div>
                <div class="ms-auto" style="font-size: 24px; font-weight: bold;">7</div>
            </div>
            <div class="d-flex align-items-center mt-3">
                <div style="color: #FFB74D;">&#9679;</div>
                <div class="ms-2">Paletizada</div>
                <div class="ms-auto" style="font-size: 24px; font-weight: bold;">13</div>
            </div>
            <div class="d-flex align-items-center mt-3">
                <div style="color: #7E57C2;">&#9679;</div>
                <div class="ms-2">Batido/Paletizado</div>
                <div class="ms-auto" style="font-size: 24px; font-weight: bold;">14</div>
            </div>
            <MudChart ChartType="MudBlazor.ChartType.Donut" LegendPosition="Position.Right" Height="200px" InputData="@palletizationDataValue" InputLabels="@palletizationDataCategory" Options="options"></MudChart>
        </MudPaper>
    </div>
    <div class="col-md-6  align-items-stretch mb-4">
         <MudPaper Class="flex-fill" Style="padding: 20px;">
            <h5>Metas e Andamento</h5>
            <div class="row">
                <div class="col-md-4">
                    <div>Recebidos</div>
                    <div style="font-size: 24px; font-weight: bold;">5/19</div>
                </div>
                <div class="col-md-4">
                    <div>Tempo de Trabalho</div>
                    <div style="font-size: 24px; font-weight: bold;">15h/20h</div>
                </div>
                <div class="col-md-4">
                    <div>Pallets</div>
                    <div style="font-size: 24px; font-weight: bold;">15/5</div>
                </div>
            </div>
 
            <MudChart ChartType="MudBlazor.ChartType.Bar" ChartSeries="@Series" Height="300px"></MudChart>
        </MudPaper>
    </div>
</div>

@code {
    private List<ChartData> data = new List<ChartData>();
    private List<string> labelColors;
    private List<Operator> operators;
    private List<ChartData> unitizationData;
    private List<ChartData> palletizationData;
    private List<string> unitizationColors;
    private List<string> palletizationColors;
    private List<MetasData> metasData;
    private List<Conformidades> conformidades;

    public List<double> dataMud;
    private string[] labelsArray;
    private double[] dataArray;

    private string[] unitizationDataCategory;
    private double[] unitizationDataValue;

    private string[] palletizationDataCategory;
    private double[] palletizationDataValue;


    private int Index = -1;
    public List<ChartSeries> Series;
    public string[] XAxisLabels = { "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep" };
    protected override void OnInitialized()
    {
        data = new List<ChartData>
    {
        new ChartData { Category = "Não conformidade do fornecedor.", Value = 86 },
        new ChartData { Category = "Não conformidade de contagem", Value = 65 }
    };

        labelsArray = data.Select(x => x.Category).ToArray();
        dataArray = data.Select(x => x.Value).ToArray();
        labelColors = new List<string>
    {
        "blue",
        "green"
    };

        operators = new List<Operator>
    {
        new Operator { Name = "Operador 1", WorkHours = "10:43:44", ConfHours = "09:07:47", PerfPallets = "21 pallets/h", AvgPallets = "78 pallets/h", DailyAccuracy = "82%", Accuracy = "34%" },
        new Operator { Name = "Operador 2", WorkHours = "11:33:05", ConfHours = "06:34:16", PerfPallets = "43 pallets/h", AvgPallets = "6 pallets/h", DailyAccuracy = "77%", Accuracy = "25%" },
        new Operator { Name = "Operador 3", WorkHours = "06:05:12", ConfHours = "04:51:24", PerfPallets = "17 pallets/h", AvgPallets = "26 pallets/h", DailyAccuracy = "95%", Accuracy = "60%" }
    };

        unitizationData = new List<ChartData>
    {
        new ChartData { Category = "Unitário", Value = 6 },
        new ChartData { Category = "Misto/Solto", Value = 11 }
    };

        unitizationDataCategory = data.Select(x => x.Category).ToArray();
        unitizationDataValue = data.Select(x => x.Value).ToArray();

        palletizationData = new List<ChartData>
    {
        new ChartData { Category = "Batido", Value = 7 },
        new ChartData { Category = "Paletizada", Value = 13 },
        new ChartData { Category = "Batido/Paletizado", Value = 14 }
    };
        palletizationDataCategory = data.Select(x => x.Category).ToArray();
        palletizationDataValue = data.Select(x => x.Value).ToArray();

        unitizationColors = new List<string>
    {
        "#A64AC9", // Unitário
        "#66BB6A"  // Misto/Solto
    };

        palletizationColors = new List<string>
    {
        "#A64AC9", // Batido
        "#FFB74D", // Paletizada
        "#7E57C2"  // Batido/Paletizado
    };

        metasData = new List<MetasData>
    {
        new MetasData { Category = "Recebidos", Meta = 19, Andamento = 25 },
        new MetasData { Category = "Tempo de Trabalho", Meta = 20, Andamento = 15 },
        new MetasData { Category = "Pallets", Meta = 10, Andamento = 15 }
    };

        conformidades = new List<Conformidades>
    {
          new Conformidades { Day = "10/03", Fornecedor = 19, Contagem = 14 },
          new Conformidades { Day = "11/03", Fornecedor = 12, Contagem = 18 },
          new Conformidades { Day = "12/03", Fornecedor = 9, Contagem = 23 },
          new Conformidades { Day = "13/03", Fornecedor = 15, Contagem = 15 },
          new Conformidades { Day = "14/03", Fornecedor = 10, Contagem = 5 },
          new Conformidades { Day = "15/03", Fornecedor = 4, Contagem = 29 },
    };
        Series = new List<ChartSeries>
{
    new ChartSeries() { Name = "Fornecedor", Data = conformidades.Select(c => (double)c.Fornecedor).ToArray() },
    new ChartSeries() { Name = "Contagem", Data = conformidades.Select(c => (double)c.Contagem).ToArray() },
};
    }


    public class ChartData
    {
        public string Category { get; set; }
        public double Value { get; set; }
    }

    public class Operator
    {
        public string Name { get; set; }
        public string WorkHours { get; set; }
        public string ConfHours { get; set; }
        public string PerfPallets { get; set; }
        public string AvgPallets { get; set; }
        public string DailyAccuracy { get; set; }
        public string Accuracy { get; set; }
    }


    public class MetasData
    {
        public string Category { get; set; }
        public int Meta { get; set; }
        public int Andamento { get; set; }
    }




    // public async Task OnConformidades()
    // {
    //     var parameter = new Dictionary<string, object>() {
    //             { "conformidades", conformidades } };

    //     var dialogResult = await DialogService.OpenAsync<DashboardModal>("Painel de Não Conformidades", parameter,
    //                                                new DialogOptions()
    //                                                    {
    //                                                        Width = ModalState.Medium,
    //                                                        CloseDialogOnEsc = ModalState.CloseDialogOnEsc,
    //                                                        Draggable = ModalState.Draggable,
    //                                                        Resizable = ModalState.Resizable,
    //                                                        Height = "53%",
    //                                                        ShowClose = ModalState.ShowClose
    //                                                    });

    // }


}
